<div class="container">
  <header-i18n showLangText="false" class="langs"></header-i18n>
  <div class="wrap">
    <div class="top">
      <div class="head">
        <!-- <img class="logo" src="./assets/logo-color.svg" /> -->
        <span class="title">ng-管理系统</span>
      </div>
      <div class="desc">服务平台</div>
    </div>
    <router-outlet></router-outlet>
    <global-footer [links]="links">
      Copyright
      <i nz-icon nzType="copyright"></i> 2019 <a href="//github.com/cipchk" target="_blank">卡色&&hahajj</a>出品
    </global-footer>
  </div>
</div>
